.section-creator-full {
  .creator-f {
    .column {
      @apply w-1/2;

      background-position: center;
      background-size: cover;

      @media (max-width: 1023px) {
        @apply w-full text-center;
      }
    }

    .bg_img {
      @media (max-width: 1023px) {
        padding-bottom: 50%;
      }
    }
  }
}

//// Creator Field if Contains Dark background color
.dark-back {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a:not([class]),
  span,
  strong {
    color: white;
  }
}
