.gfield input,
.gfield textarea,
.gfield select {
  @apply border border-grey-light font-futura-medium;

  height: 45px;
  font-size: 20px !important;
  padding: 10px !important;
  background: white;
  font-weight: normal !important;
}

.gfield label {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #3b2015 !important;
}

.gfield_label {
  @apply font-bold;

  font-weight: 400 !important;
}

.gform_button {
  @apply inline-block px-6 py-2 font-bold text-white no-underline uppercase bg-primary;

  line-height: 1.5;
  cursor: pointer;

  &:hover {
    @apply bg-primary-2;
  }
}

.gfield_error .gfield_label,
.gfield_error .validation_message,
.gfield_error label {
  font-weight: 400 !important;
}

.gfield_error label,
.gfield_error .validation_message {
  font-size: 16px !important;
}

.validation_error {
  font-size: 18px !important;
  font-weight: 400 !important;
}

.ginput_container_address {
  span {
    margin-top: 15px !important;
  }
}
