.header {
  // LOGO
  .header__brand img {
    position: relative;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 30px;

    @media (max-width: 1023px) {
      width: 228px;
    }
  }
}
