.section--recovery {
  @apply bg-primary-3;

  .content {
    .card {
      @apply bg-primary-3 ml-20 mr-20 p-1 mt-22;

      width: calc(1 / 3 * 100% - (1 - 1 / 3) * 15px);

      @media (max-width: 1023px) {
        @apply w-full m-0 mt-21;
      }

      h4 {
        @apply text-primary;
      }
    }
  }

  .o-content {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 45px;
  }
}
