.section--intro {
  position: relative;
  z-index: 15;
}

.section--contact {
  .column {
    @apply w-1/2;

    background-size: cover;
    background-position: center;

    @media (max-width: 1023px) {
      @apply w-full text-center;

      &:nth-last-child(1) {
        @apply mt-10;
      }
    }

    iframe,
    img {
      @apply w-full h-full;
    }

    &:nth-child(1) {
      @apply bg-primary;
    }

    .inner {
      display: block;
      padding: 75px 15px;
      margin: 0 auto;
      margin-right: 0;

      @media (max-width: 1023px) {
        max-width: 100%;
      }

      h4,
      address,
      span,
      svg,
      p {
        color: white;
      }
    }
  }
}
