.section--services {
  h3 {
    @apply text-center;
  }

  .fl-btw {
    @apply mt-10;

    .column {
      @apply w-1/2;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: 1023px) {
        @apply w-full;
      }

      .inner {
        @apply p-2 pl-2;

        display: block;
        margin: 0 auto;
        margin-left: 0;
        max-width: 750px;

        @media (max-width: 1023px) {
          @apply w-full;
        }
      }
    }

    .column-image {
      @media (max-width: 1023px) {
        padding-bottom: 50%;
      }
    }
  }
}
