@font-face {
  font-family: "futura-bold";
  src: url("../fonts/futura-bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "futura-medium";
  src: url("../fonts/futura-medium.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "futura-oblique";
  src: url("../fonts/futura-oblique.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
