h1 {
  @apply text-h1-m leading-h1-m font-futura-bold text-primary uppercase;

  @media (min-width: 1024px) {
    @apply text-h1-d leading-h1-d;
  }
}

h2 {
  @apply text-h2-d leading-h2-d font-futura-bold text-primary-1;
}

h3 {
  @apply text-h3-d leading-h3-d font-futura-bold text-primary;
}

h4 {
  @apply text-h4-d leading-h4-d font-futura-medium text-primary-2;
}

h5 {
  @apply text-h5-d leading-h5-d font-futura-medium text-primary-1;
}

h6 {
  @apply text-h6-d leading-h4-d font-futura-medium text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-normal;

  &:not(:last-child) {
    margin-bottom: rem(15px);
  }
}

.page-header h1 {
  @apply text-primary;
}

small {
  @apply text-footer;
}

p,
li:not([class]) {
  // 1024
  @media (min-width: 1024px) {
    @apply text-p-d leading-p-d text-primary-2;
  }
}

p {
  margin-bottom: 1.875rem;

  @apply text-p-d leading-p-d font-futura-medium text-primary-2;
}

span {
  @apply text-p-d leading-p-d text-primary-2 font-futura-medium;
}

strong,
b,
a {
  @apply text-p-d font-futura-bold;

  text-decoration: none;
  letter-spacing: 2px;
}

em,
i {
  @apply roman;
}

p:last-child {
  margin-bottom: 0;
}

a:not([class]) {
  @apply text-primary;

  text-decoration: none;
  font-weight: bold;
  font-size: inherit;
}
