// Button
.btn {
  @apply inline-block px-1 py-1 uppercase text-white text-button;

  text-decoration: none;
  transition: all ease 1s;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 22px;
  line-height: 20px;
  // 1023 <=
  @media (max-width: 1023px) {
    @apply block text-center;
  }
}

// Primary Button
.btn-r {
  @apply bg-primary-1;

  &:hover {
    @apply bg-primary;
  }
}

.btn-w {
  @apply text-primary bg-white;

  &:hover {
    @apply bg-primary-1 text-white;
  }
}

.button {
  background-color: #dcad4c !important;

  &:hover {
    background-color: #dcad4c !important;
  }
}

// Secondary Button
.btn-b {
  @apply bg-primary;

  &:hover {
    @apply bg-primary-1;
  }
}

// Adjacent Buttons
.btn + .btn {
  // 767 <=

  @media (max-width: 767px) {
    @apply mt-5;
  }

  // 1024
  @media (min-width: 1024px) {
    @apply ml-5;
  }
}
