.section-footer {
  text-align: center;

  address {
    @apply flex justify-center mb-20;

    @media (max-width: 1023px) {
      display: block;
    }

    align-items: center;

    span {
      @apply m-1;
    }
  }

  h4 {
    @apply mt-20 mb-20;

    strong {
      font-weight: bold;
      font-size: inherit;
    }
  }

  .footer__link--phone {
    padding-left: 15px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 20px;
      left: 8px;
      top: 12px;
      background-color: #424242;
    }
  }

  .f-rights {
    font-size: 12px;
    text-transform: uppercase;

    a {
      font-family: inherit;
    }
  }
}
