/** Search form */
label {
  display: none !important;
}

label,
input,
textarea,
select {
  @apply text-primary;

  border-radius: 5px;
}

.search-form {
  @apply flex items-center;
}

.search-form label {
  @apply mb-4;

  font-weight: normal;
}

.search-form .search-field {
  @apply block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded;
}

.search-form .search-submit {
  @apply inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-grey-lightest bg-grey;

  &:hover {
    @apply bg-grey-light;
  }
}

.gform_button {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
