.hero {
  .slider {
    @apply flex flex-row items-center justify-between;

    min-height: 780px;

    @media (max-width: 1023px) {
      @apply flex-wrap;

      padding: 0;
      min-height: 330px;
    }

    .column {
      @apply w-full bg-cover h-full;

      background-position: center;
      background-size: cover;
      position: absolute;
      right: 0;
      min-height: 78px;

      @media (max-width: 768px) {
        @apply w-full;

        position: relative;
        min-height: 330px;
      }
    }
  }
}

.page-template-default {
  .hero {
    .slider {
      min-height: 540px;

      @media (max-width: 1023px) {
        min-height: 250px;
      }

      .column {
        @media (max-width: 768px) {
          min-height: 250px;
        }
      }
    }
  }
}
