.social-media {
  @apply text-center p-0 m-0 flex flex-row;

  list-style: none;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: 1023px) {
    justify-content: center;
  }

  li {
    @apply pr-2;

    svg {
      font-size: 40px;

      @apply text-primary-2 text-primary;
    }
  }
}

//////////// Locations on Header

.locations {
  @apply text-left p-0 m-0 flex flex-row justify-start ;

  list-style: none;

  li {
    @apply mr-5 font-futura-medium;

    position: relative;
    font-size: 14px;
    letter-spacing: 1px;

    @media (max-width: 1200px) {
      font-size: 12px;
      margin-right: 15px;
      letter-spacing: 0;
    }

    @media (max-width: 1023px) {
      display: none;
    }

    &::after {
      content: "";
      width: 1px;
      height: 15px;
      background: white;
      position: absolute;
      right: -10px;
      top: 0;

      @media (max-width: 1200px) {
        right: -8px;
        height: 12px;
      }
    }

    &:nth-last-child(1) {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }
}
