body {
  @apply;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.nav-is-open {
    @apply overflow-hidden;
  }
}

ol:not([class]),
ul:not([class]) {
  @apply text-p-d leading-p-d text-primary-2  pl-2 font-futura-medium;

  margin-bottom: 1.875rem; // 30px
  list-style: none;

  li {
    position: relative;

    &::before {
      content: "\00B7";
      position: absolute;
      top: 2px;
      font-size: 70px;
      left: -30px;
      width: 15px;
      height: 15px;
    }
  }

  li:not([class]) + li:not([class]) {
    @apply mt-3;
  }
}

hr {
  @apply block h-px my-3 bg-primary-2;

  opacity: 0.3;
  clear: both;
  // 1024
  @media (max-width: 1023px) {
    @apply my-1;
  }
}

.page-header {
  h1 {
    text-align: center;
    position: relative;
    margin-bottom: 60px;

    &::after {
      @apply bg-primary-2;

      content: "";
      position: absolute;
      display: block;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: -25px;
      width: 250px;
      height: 1px;
    }
  }
}

//// Creator Field if Contains Dark background color
.dark-back {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a:not([class]),
  span,
  strong {
    color: white;
  }
}

address {
  @apply roman leading-normal;

  span:first-child {
    @apply block;
  }
}

// Loading class
html {
  transition: all ease 2s;
}

@media (max-width: 1023px) {
  .m-none {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .d-none {
    display: none !important;
  }
}

.loading {
  opacity: 0;
}

.inner {
  @apply w-full px-2 py-3;

  max-width: 760px;
  display: block;
  margin: 0 auto;

  @media (max-width: 1023px) {
    max-width: 100%;

    @apply px-1;
  }
}

.order-two {
  order: 2;

  .inner {
    @apply ml-0;
  }
}

.order-one {
  order: 1;

  .inner {
    @apply mr-0;
  }
}

// Defaut Section styling
.content {
  width: 100%;
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 15px;

  // Medium Desktops
  @media (max-width: 1023px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

// no padding above and below
.o-content {
  width: 100%;
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.c-post {
  .flex-control {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 1023px) {
      text-align: center;
      flex-flow: column wrap;
    }

    .column--1 {
      width: 25%;
    }

    .column--2 {
      width: 75%;
    }

    .column {
      padding: 15px;

      @media (max-width: 1023px) {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }
  }
}

.c-post--single {
  @media (max-width: 1023px) {
    text-align: center;
  }
}

.fl-start {
  @apply flex flex-row justify-start;
}

.fl-end {
  @apply flex flex-row justify-end;
}

.fl-btw {
  @apply flex flex-row justify-between;

  flex-flow: row wrap;
}

.fl-center {
  @apply flex flex-row justify-center;
}

.fl-column {
  @media (max-width: 1023px) {
    flex-flow: column nowrap;
  }
}
