:root {
  --body-color: #42668f;
  --primary-1: #dcad4c;
  --primary-2: #42668f;
}

body {
  color: var(--body-color);
  background: linear-gradient(white , var(--primary-2));
}

.login h1 a {
  width: 100%;
  max-width: 340px;
  height: 230px;
  /*
  background-image: url("/app/uploads/2019/05/One-Point-Media-Group-logoA-01.png");
  */
  background-size: 100%;
}

.login form {
  background-color: var(--primary-1);
}

.login label {
  color: currentColor;
}

.login #nav a,
.login #backtoblog a {
  font-size: 14px;
  color: white;
}

.login #nav a:hover,
.login #backtoblog a:hover {
  color: var(--primary);
}

.wp-core-ui .button-primary {
  text-shadow: none;
  background: white;
  color: var(--primary-2);
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.wp-core-ui .button-primary:hover {
  background-color: var(--primary-2);;
}

.message {
  color: var(--primary-2);
}

form {
  color: white;
}
